<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
   <typeAliases>
		<package name="kr.ac.kopo.project_tera.model"/>
   </typeAliases>
   
   <mappers>
		<mapper resource="mybatis/partner.xml"/>
		<mapper resource="mybatis/notice.xml"/>
		<mapper resource="mybatis/notice_file.xml"/>
		<mapper resource="mybatis/info.xml"/>
		<mapper resource="mybatis/info_file.xml"/>
		<mapper resource="mybatis/info_file.xml"/>
		<mapper resource="mybatis/fnq.xml"/>
		<mapper resource="mybatis/qna.xml"/>
		<mapper resource="mybatis/member.xml"/>
		<mapper resource="mybatis/id.xml"/>
   </mappers>

</configuration>
